nav {
  position: relative;
  width: 30vw;
  height: 100%;
  background-color: brown;
}

.container {
  margin: 0;
  padding:0;
}

.nav-header {
  height: 150px;
}

.form_fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.sources {
  display: block;
}

/* COLLAPSABLE SIDE BAR */
#sidebar {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

@media (min-width: 992px) {
  .collapsed {
    display: block;
    /* same width as sidebar */
    margin-left: -25%;
  }
}

#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}

#content {
  /* for the animation */
  transition: width 0.3s ease;
}