@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Pacifico');

body {
  background-color: brown;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0 20px 0;
}

.container {
}

.nav-header {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 14px 0 7px 0;
}

.nav-header > h1 {
  font-family: 'Pacifico', sans-serif;
  color: yellow;
}

.form_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}

#skill_level, #lesson_format {
  width: 30vmin;
  padding: 0 0 0 10px;
  height: 44px;
}

/* #lesson_format {
  width: 30vmin;
} */

#genre, #keyword {
  width: 20vmin;
}

/* #keyword {
  width: 20vmin;
} */

.sources {
  display: inline-block;
  background-color: brown;
  color: yellow;
  margin: 5px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

.responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

section.video_info {
  margin-top: 12px;
}

section.video_info h3 {
  font-size: 3.5vmin;
  font-family: 'Oswald', sans-serif;
}

section.videoChannelWrapper {
  font-size: 2.5vmin;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

section.video_actions {
  margin-top: 16px;
  margin-bottom: 24px;
}
