body {
  background-color: brown;
}

nav {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.container {
}

.nav-header {
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-header > h1 {
  color: yellow;
}

.form_fields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}

.sources {
  display: inline-block;
  background-color: brown;
  color: yellow;
  margin: 5px;
}

.responsive {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

section.video_info {
  margin-top: 12px;
}

section.video_info h3 {
  display: inline;
}

section.video_actions {
  margin-top: 12px;
  margin-bottom: 24px;
}
